body {
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

.container-fluid {
    padding: 0;
    overflow-x: hidden;
}

.canvas-container {
    border: 5px solid white;
    background-color: white;
    max-width: 100%;
}

#canvas {
    display: block;
    box-shadow: 0px 0px 20px rgba(52, 114, 248, 0.5);
    border: 2px solid #ecf0f1;
    max-width: 100%;
    height: auto;
}

#notificacion {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(83, 83, 83) !important;
    background-color: #01a8a849;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-style: italic;
    min-height: 30px;
    padding: 8px 12px;
    border-radius: 10px;
}

.instrucciones-card {
    background: #baffe81c;
    border-radius: 15px;
    max-height:90vh;
    overflow-y: auto;
}

.instrucciones-card ul li {
    font-size: 0.9rem;
    color: #444;
}

.btn {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
